@import url(Function.css);
@import url(Header.css);
@import url(Nav.css);
body> .Maincontent{
    width:100%;
    height: 1500px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    
}
.Maincontent> .Maincontent-block{
    width: 65%;
    height:600px;
    background-color: rgb(0, 255, 255);
    display: flex;
    margin-top: 15px;
    font-family: 'Battambang', Arial, Helvetica, sans-serif;
    
}
.Maincontent-block> .top-block{
   width: 70%;
   height: 600px; 
   background-color: rgb(132, 2, 253);
   display: grid;
   grid-template-columns: auto auto;
   grid-column-gap: 5px;
   
}
.top-block> .block-row{
    width: 100%;
    height: 300px;
    background-color: rgb(0, 255, 55);
    position: relative;
    display: grid;
    grid-template-columns: auto auto;


}
.block-row >a> h4{
    width: 100px;
    padding: 2px 4px;
    position: absolute;
    background-color: blue;
    top: 10px;
    left: 0;
    color: white;
    z-index: 2;
    clip-path:polygon(0 0, 80% 0%, 100% 100% ,0% 100%);
    text-align: center;
}
.block-row>a>.Mcaption{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0px;
    z-index: 1;
    background:linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4) 
    )
    
}
.block-row:hover> a> .Mcaption{
    background:linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.8) 
    )
}
.block-row> a> .blockTitle{
    width: 100%;
    padding: 89px 0px;
    background-color:rgba(255, 0, 0, 0);   
    position:absolute;
    bottom: 59px;
    /* z-index: 1; */
    overflow: hidden;
    
}
.blockTitle> .caption{
    width:100%;
    height: 100%;
    padding: 10px 10px;
    background-color:rgba(26, 255, 0, 0);
    position:absolute;
    bottom: -70px;
    transition: 0.5s;
    color: white;
    z-index: 2;
}
.block-row:hover>a> .blockTitle>.caption{
    bottom: 0;
}
.block-row:hover> a .blockTitle .caption h3{
    color: red;
}
.block-row >a>.time{
    width: 100%;
    padding:15px 10px;
    background-color: rgba(255, 0, 221, 0);
    position:absolute;
    bottom: 0px;
    color: aliceblue;
    z-index: 2;
    
}
.Maincontent-block> .bannerBlock{
    width: 29.5%;
    height: 600px;
    background-color: brown;
}
.bannerBlock> .bantop{
    width:100%;
    height: 50%;
    background-color: aquamarine;

}
.bannerBlock> .banbottom{
    width:100%;
    height: 50%;
    background-color: cornflowerblue;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position:center;
    
}
